/* Colores */

$mainColor: #600CEA;
$main-complementari: #0059E8;
$main-complementari-second: #FF5500;
$secondaryColor: #98c1d9;
$thirdColor:#15616d;
$fourdColor: #003049;
$greyColor: #1F1F1F;
$offWhiteColor: #E2E2E2;
$landig-back-color: #F6F6FE;
$font-main-color: #000000;
$font-second-color: #2B2B2B;
$font-third-color: #4F4F4F;
$font-invert-color: #F0F0F0;
$back-color: #fffcf2;
$red-color: #d90429;

/* Text */
$box-radious: 0.7rem;
$button-radious: 0.7rem;

$card-name-size: 30px;
$card-name-weight: 400;
$card-brand-size: 20px;
$card-brand-weight: 300;
$subTitle-size: 40px;
$subTitle-weight: 700;
$bigTitle-size: 80px;
$bigTitle-weight: 900;
$text-landing-size: 20px;
$text-landing-weight: 400p;

/* Color Filter */

$Red: #C1010A;
$Purple: #580ACC;
$Pink: #C204AF;				
$Blue: #1D47FF;
$Green: #0EC235;
$Yellow: #FFD40D;
$Orange: #FF7F00;
$Brown: #6C3C11;
$White: #E8E8E6;
$Black:#000000;