/* Colores */

$mainColor: #600CEA;
$main-complementari: #EB5800;
$secondaryColor: #98c1d9;
$thirdColor:#15616d;
$fourdColor: #003049;
$greyColor: #1F1F1F;
$offWhiteColor: #E2E2E2;
$font-main-color: #000000;
$font-second-color: #2B2B2B;
$font-third-color: #4F4F4F;
$font-invert-color: #F0F0F0;
$back-color: #fffcf2;
$red-color: #d90429;

/*  */
$box-radious: 0.7rem;
$button-radious: 0.3rem;

$card-name-size: 30px;
$card-name-weight: 400px;
$card-brand-size: 20px;
$card-brand-weight: 300px;
