@import './_variables';
@import './_mixins';


  
  header{
    height: auto;
    background-color: $greyColor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo search search nav nav logMenu";
    gap: 2rem;
  }
  .logo{
    grid-area: logo;
    width: 100%;
    height: 100px;
    margin-top: 0.2rem;
    padding-left: 2rem;

    a{
      width: 100%;
      height: 80px;
    }

     img{
      width: 100%;
      height: 100px;
     }
  }
  .logMenu {
    grid-area: logMenu;
    height: 60px;
    width: 60%;
    margin-top: 1rem;
  }

  .userMenu{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;

        h4{
            color: $offWhiteColor;
            
        }

        .bx-log-out-circle{
            color: $offWhiteColor;
            font-size: 25px;
            cursor: pointer;
            margin-left: 0.7rem;
        }

       
  }

 .bx-user{
    font-size: 30px;
    color: $offWhiteColor;
    padding: 1rem;
  }

  .searchContainer{
    grid-area: search;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
      input{
        @include search-box-style
      }


  }

  nav{
    grid-area: nav;
    height: 100px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    ul{
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
        li{
          width: 100%;
          font-size: 23px;
          a{
            @include menuBtn-style
          }
        }
     }
  }

