@import './_variables';
@import './_mixins';




.logContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Background-animated.gif);
    height: 800px;

    &__box{
        background-color: white;
        width: 25%;
    border-radius: $box-radious;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    height: 600px;
    box-shadow: 13px 7px 18px -3px rgba(242, 242, 242, 0.209);
    }
    &__log{
        width: 70%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .logBox{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        p{
            font-size: 18px;
        }
    }

   
    h2{
        padding-top: 2rem;
        font-size: $subTitle-size;
        font-weight: $subTitle-weight;
        color: $main-complementari;
    }

    button{
        @include btnReg-big-style
    }

    input{
        @include form-style
    }

    a{
        font-size: 20px;
        font-weight: 700;
        color: $main-complementari;
    }
}